<div class="container m-auto">
    <h1 class=" text-5xl font-mono mb-4 text-red-500">hello Rails</h1>
    <p class="text-lg">Find me in apps</p>
    <%= render_svg 'icons/pencil_edit', styles: "fill-current text-purple-500 w-6 h-6"%>
</div>
